@inherits LayoutComponentBase
@inject Sesion sesion
@inject NavigationManager Navegador

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            @if (sesion.EstaIniciado)
            {
                <div class="top-row px-4">
                    <div class="flex">
                        <p>@sesion.Usuario.Nombre @sesion.Usuario.Apellido</p>
                        <a href="/usuario/@sesion.Usuario.Id">Mi perfil</a>
                    </div>
                </div>
            }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>