@page "/home"

@inject Sesion sesion
@inject NavigationManager Navegacion
@rendermode InteractiveServer
<PageTitle>Inicio</PageTitle>


<h1>Hola @sesion.Usuario.Nombre!</h1>


Bienvenido al Sistema de Gestión del Centro Deportivo Universitario.

@code {
    @*
    protected override void OnInitialized()
    {
        if (!sesion.EstaIniciado)
        {
            Navegacion.NavigateTo("/");
        }
    }
    *@
}
