@page "/home"

@inject Sesion sesion
@inject NavigationManager Navegacion

<PageTitle>Inicio</PageTitle>

<h1>Hola @sesion.Usuario.Nombre!</h1>

Welcome to your new app.

@code {
    
    protected override void OnInitialized()
    {
        @* if (!sesion.EstaIniciado)
        {
            Navegacion.NavigateTo("/");
        } *@
    }

}
