@page "/listas/personas"
@rendermode InteractiveServer
@inject Sesion sesion
@inject ListarPersonaUseCase listarPersonaUseCase
@inject AltaPersonaUseCase altaPersonaUseCase
@inject BajaPersonaUseCase bajaPersonaUseCase
@inject NavigationManager Nav

    <h3>Personas</h3>

    @if (sesion.Usuario.PoseeElPermiso(Permiso.PersonaAlta)){
        <button @onclick="NuevaPersona">Agregar Persona</button>
        <ModalPersona @ref=alta OnConfirmado="() => AgregarPersona()" />
    }
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            @if (sesion.Usuario.PoseeElPermiso(Permiso.UsuarioModificacion) || sesion.Usuario.PoseeElPermiso(Permiso.UsuarioBaja)){
                <th>Acción</th>
            }   
        </tr>
        @foreach (var persona in _lista)
        {
        <tr>
            <td>@persona.Id</td>
            <td>@persona.Nombre</td>
            <td>@persona.Apellido</td>
            <td>@persona.Email</td>
            @if (sesion.Usuario.PoseeElPermiso(Permiso.PersonaModificacion)){
                <td>
                    <button class="btn btn-primary modificacion-persona" @onclick="()=>ConfirmarModificacion(persona)">Modificar</button>
                </td>
            }
            <td>
                <button class="btn btn-danger baja-persona" @onclick="() => ConfirmarEliminacion(persona)">Eliminar</button>
                <DialogoConfirmacion @ref=dialogo Mensaje="¿Está seguro que desea eliminar esta persona?" OnConfirmado="() => EliminarPersona()" />
            </td>
        
        </tr>
        }
    </table>

    <ModalError @ref=error/>
    
@code {

    List<Persona> _lista = new List<Persona>();
    DialogoConfirmacion dialogo = new();
    ModalPersona alta = new();
    Persona? _PersonaAOperar = null;

    ModalError error = new();
    protected override void OnInitialized()
    {
        _lista = listarPersonaUseCase.Ejecutar();
    }

    private void NuevaPersona() {
        alta.Mostrar();
        _lista = listarPersonaUseCase.Ejecutar();
        StateHasChanged();
    }

    private void ConfirmarEliminacion(Persona p)
    {
        _PersonaAOperar = p;
        dialogo.Mostrar();
    }
    
    private void ConfirmarModificacion(Persona p)
    {
        
    }
    private void EliminarPersona()
    {
        try
        {
            bajaPersonaUseCase.Ejecutar(_PersonaAOperar!.Id, sesion.Usuario.Permisos);
            _lista = listarPersonaUseCase.Ejecutar();
            StateHasChanged();
        }
        catch(Exception e)
        {
            error.Mostrar(e.Message);
        }
    }
    private void AgregarPersona()
    {
        try
        {
            altaPersonaUseCase.Ejecutar(alta.p!, sesion.Usuario.Permisos);
            _lista = listarPersonaUseCase.Ejecutar();
            StateHasChanged();
        }
        catch (Exception e)
        {
            error.Mostrar(e.Message);
        }
        
    }
    
}
