@rendermode InteractiveServer
@inject ListarAsistenciaAEventoUseCase ListarAsistenciaAEventoUseCase

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>@nombre (ID: @ID)</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
                @foreach (var persona in _lista)
                {
                <tr>
                    <td>@persona.Id</td>
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellido</td>
                    <td>@persona.Email</td>
                </tr>
                }
            </table>
            <button class="btn btn-primary" @onclick="Cerrar">Cerrar</button>
        </div>
    </div>

}
@code{
    List<Persona> _lista = new List<Persona>();
    private bool visible = false;
    [Parameter]
    public int ID {get;set;}
    [Parameter]
    public string nombre {get;set;} = "";
    public void Mostrar(int id, String nombreE)
    {
        ID = id;
        nombre = nombreE;
        _lista = ListarAsistenciaAEventoUseCase.Ejecutar(id);
        visible=true;  
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false; 
        StateHasChanged();
    }
}