@using CentroEventos.Aplicacion.Entidades
@rendermode InteractiveServer
@inject Sesion sesion

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
                
            <h3>@Title de usuario</h3>
            @if (errorEncontrado)
            {
                <div class="error">
                    <p>@mensajeError</p>
                </div>
            }
            <form @onsubmit="OnSubmitHandler">
                <div class="formulario-campos">
                    <label>Nombre:</label>
                    <input required class="form-control" @bind="Nombre" />
                </div>
                <div class="formulario-campos">
                    <label>Apellido:</label>
                    <input required class="form-control" @bind="Apellido" />
                </div>
                <div class="formulario-campos">
                    <label>Email:</label>
                    <input required class="form-control" @bind="Email" />
                </div>
                <div class="formulario-campos">
                    <label>Contraseña:</label>
                    <input required class="form-control" @bind="Contrasena" />
                </div>
                <div class="flex flex-row-center">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-secondary" @onclick="Cerrar">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
}

@code {
    private bool visible = false;
    private string Nombre = "";
    private string Apellido = "";
    private string Email = "";
    private string Contrasena = "";
    string mensajeError = "";
    bool errorEncontrado = false;
    public string Title = "";

    [Parameter] public EventCallback OnConfirmado { get; set; }    
    [Parameter] public Usuario? _usuario { get; set; }

    public void Mostrar()
    {
        Title = "Alta";
        visible = true;
        StateHasChanged();
    }

    public void Mostrar(Usuario u)
    {
        _usuario = u;
        Title = "Modificación";

        // Recuperar campos para que aparezcan en el form.
        Nombre = u.Nombre;
        Apellido = u.Apellido;
        Email = u.Email;

        visible = true;
        StateHasChanged();
    }

    void Cerrar()
    {
        visible = false;
        StateHasChanged();
    }

    private void OnSubmitHandler()
    {
        if (Title.Equals("Modificación"))
        {
            Usuario u = new(Nombre,Apellido,Email,Contrasena);
            u.AgregarPermiso(_usuario!.Permisos);
            _usuario!.Actualizar(u);
        }
        else _usuario = new(Nombre,Apellido,Email,Contrasena);
        
        OnConfirmado.InvokeAsync();
        Cerrar();
        LimpiarCampos();
        errorEncontrado = false;
    }

    private void LimpiarCampos()
    {
        Nombre = "";
        Apellido = "";
        Email = "";
        Contrasena = "";
        mensajeError = "";
        errorEncontrado = false;
    }
}