@using CentroEventos.Aplicacion.Entidades
@inject Sesion sesion
@inject AltaEventoDeportivoUseCase AltaEventoDeportivoUseCase

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>Alta de Evento Deportivo</h3>
            <form @onsubmit="OnSubmitHandler">
                <div class="formulario-campos">
                    <label>Nombre:</label>
                    <input class="form-control" @bind="Nombre" />
                </div>
                <div class="formulario-campos">
                    <label>Descripción:</label>
                    <input class="form-control" @bind="Descripcion" />
                </div>
                <div class="formulario-campos">
                    <label>Fecha y Hora de Inicio:</label>
                    <input type="datetime-local" class="form-control" @bind="FechaHoraInicio" />
                </div>
                <div class="formulario-campos">
                    <label>Duración (horas):</label>
                    <input type="number" step="0.1" class="form-control" @bind="DuracionHoras" />
                </div>
                <div class="formulario-campos">
                    <label>Cupo Máximo:</label>
                    <input type="number" class="form-control" @bind="CupoMaximo" />
                </div>
                <div class="formulario-campos">
                    <label>ID Responsable:</label>
                    <input type="number" class="form-control" @bind="ResponsableId" />
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-secondary" @onclick="Cerrar">Cerrar</button>
            </form>
        </div>
    </div>
}

@code {
    private bool visible = false;
    private string Nombre = "";
    private string Descripcion = "";
    private DateTime FechaHoraInicio;
    private double DuracionHoras;
    private int CupoMaximo;
    private int ResponsableId;

    [Parameter]
    public EventCallback OnConfirmado { get; set; }
    [Parameter] public EventoDeportivo? eventoDeportivo { get; set;}

    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }

    void Cerrar()
    {
        visible = false;
        StateHasChanged();
    }

    private void OnSubmitHandler()
    {
        eventoDeportivo = new(Nombre,Descripcion,FechaHoraInicio,DuracionHoras,CupoMaximo,ResponsableId);
        OnConfirmado.InvokeAsync();
        Cerrar();
    }
}